<div class="game_data">
  <div class="header">
    <h2 class="title"><%= @game['name'] %></h2>
  </div>
  <div class="body">
    <div>
      <%= image_tag @game['image']['square_small'], class: 'img-fluid' %>
    </div>
    <% if @game['genres'].length > 0 %>
      <div class="genres">
        <h4>Genres</h4>
        <% @game['genres'].each_with_index do |genre, index| %>
          <%= genre['name'] %>
          <% if index != @game['genres'].length - 1 %>
            <%= ', ' %>
          <% end %>
        <% end %>
        <br />
      </div>
    <% end %>
      <div class="description">
        <h4>Description</h4>
        <p><%= @game['description'].html_safe %></p>
        <br />
      </div>
      <% if @game['reviews'].length > 0 %>
        <div>
          <h4>Reviews</h4>
          <% @game['reviews'].each do |review| %>
            <a class="btn btn-secondary article_btn" data-toggle="collapse" href="#review_<%= review['id'] %>" 
               role="button" aria-expanded="false" aria-controls="review_<%= review['id'] %>">
                <span><%= review['title'] %> by <%= review['authors'] %></span>
            </a>
            <div class="collapse multi-collapse" id="review_<%= review['id'] %>">
              <div class="card card-body">
                <%= image_tag review['image']['original'], class: 'img-fluid' %>
                <br />
                <p><%= review['deck'] %></p>
                <br />
                <h6>Score</h6>
                <p><%= review['score'] %></p>
                <br />
                <h6>Pros</h6>
                <p><%= review['good'] %></p>
                <br />
                <h6>Cons</h6>
                <p><%= review['bad'] %></p>
                <br />
                <h6>Full Review</h6>
                <%= review['body'].html_safe %>
              </div>
            </div>
            <br />
          <% end %>
          <br />
        </div>
      <% end %>
      <% if @game['articles'].length > 0 %>
        <div>
          <h4>Articles</h4>
          <% @game['articles'].each do |article| %>
            <a class="btn btn-secondary article_btn" data-toggle="collapse" href="#article_<%= article['id'] %>" 
               role="button" aria-expanded="false" aria-controls="article_<%= article['id'] %>">
                <span><%= article['title'] %> by <%= article['authors'] %></span>
            </a>
            <div class="collapse multi-collapse" id="article_<%= article['id'] %>">
              <div class="card card-body">
                <%= image_tag article['image']['original'], class: 'img-fluid' %>
                <br />
                <p><%= article['deck'] %></p>
                <br />
                <%= article['body'].html_safe %>
              </div>
            </div>
            <br />
          <% end %>
          <br />
        </div>
      <% end %>
      <% if @game['videos'].length > 0 %>
        <div>
          <h4>Videos</h4>
          <% @game['videos'].each do |video| %>
            <% video_src = video['hd_url'].length > 0 ? video['hd_url'] : video['high_url'].length > 0 ? video['high_url'] : video['low_url'] %>
            <a class="btn btn-secondary article_btn" data-toggle="collapse" href="#video_<%= video['id'] %>" 
               role="button" aria-expanded="false" aria-controls="video_<%= video['id'] %>">
                <span><%= video['title'] %></span>
            </a>
            <div class="collapse multi-collapse" id="video_<%= video['id'] %>">
              <div class="card card-body">
                <video id="video_<%= video['id'] %>" class="video-js vjs-big-play-centered vjs-fluid game_video" controls preload="auto"
                poster="<%= image_path('black.jpg') %>" data-setup="{}">
                  <source src="<%= video_src.to_s %>" type='video/mp4'>
                  <noscript>
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                  </p>
                  </noscript>
                </video>
                <br />
                <p><%= video['deck'] %></p>
                <br />
              </div>
            </div>
            <br />
          <% end %>
          <br />
        </div>
      <% end %>
      <% if @game['releases'].length > 0 %>
        <div>
          <h4>Releases</h4>
          <div class="row">
            <% @game['releases'].each do |release| %>
              <div class="col-4 release_card">
                <h6>Release Date</h6>
                <!-- Get only the date and not the time -->
                <span><%= release['release_date'][0, 10] %></span>
                <br />
                <br />
                <h6>Name</h6>
                <span><%= release['name']  %></span>
                <br />
                <br />
                <h6>Region</h6>
                <span><%= release['region']  %></span>
                <br />
                <br />
                <% if release['ratings'] %>
                  <h6>Ratings</h6>
                  <span><%= release['rating']['name']  %></span>
                  <br />
                  <br />
                <% end %>
                <h6>Platform</h6>
                <span><%= release['platform'] %></span>
                <br />
                <br />
                <h6>Publishers</h6>
                <span>
                  <% release['publishers'].each_with_index do |publisher, index| %>
                    <%= publisher['name'] %>
                    <% if index != release['publishers'].length - 1 %>
                      <%= ', ' %>
                    <% end %>
                  <% end %>
                </span>
                <br />
                <br />
                <h6>Developers</h6>
                <span>
                  <% release['developers'].each_with_index do |developer, index| %>
                    <%= developer['name'] %>
                    <% if index != release['developers'].length - 1 %>
                      <%= ', ' %>
                    <% end %>
                  <% end %>
                </span>
                <br />
                <br />
              </div>
            <% end %>
          </div>
          <br />
        </div>
      <% end %>
  </div>
</div>