<div class="filters">
  <div class="list-group" role="tablist">
    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#platforms" role="tab">Platforms</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#genres" role="tab">Genres</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#themes" role="tab">Themes</a>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="platforms">
      <ul class="browse_list row">
        <% if !@platforms.nil? %>
          <% @platforms.each do |platform| %>
            <li class="col-6 col-md-4 col-lg-2">
              <a href="#" class="btn select_btn" data-platform_id="<%= platform['id'] %>"><%= platform['name'] %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane" role="tabpanel" id="genres">
      <ul class="browse_list row">
        <% if !@genres.nil? %>
          <% @genres.each do |genre| %>
            <li class="col-6 col-md-4 col-lg-2">
              <a href="#" class="btn select_btn" data-genre="<%= genre['id'] %>"><%= genre['name'] %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane" role="tabpanel" id="themes">
      <ul class="browse_list row">
        <% if !@themes.nil? %>
          <% @themes.each do |theme| %>
            <li class="col-6 col-md-4 col-lg-2">
              <a href="#" class="btn select_btn" data-genre="<%= theme['id'] %>"><%= theme['name'] %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div>
      <ul class="row games_list"></ul>
  </div>
</div>