<!DOCTYPE html>
<html>
  <head>
    <title>GameDatabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      
        
      <%= link_to search_path, class: 'btn btn-secondary text-right' do %>
        <i class="fas fa-search"></i>
        <span class="desktop_only"> Search</span>
      <% end %>
    </nav>
      
    <%= yield %>
  </body>
</html>
